# openjdk service based on openjdk and Alpine
# version 0.1
# This composer need an '.env' file to be composed 
#
# Default env : .env.openjdk
# To compose:
#   docker compose --env-file ".env.openjdk" -f docker-compose-openjdk.yaml up -d
#   docker compose --env-file ".env.openjdk" -f docker-compose-openjdk.yaml down --rmi local -v
#   docker compose --env-file ".env.openjdk" -f docker-compose-openjdk.yaml down --remove-orphans --rmi local -v
#
#   docker system prune -a
services:
  openjdk:
    build:
      context: "openjdk"
      dockerfile: "Dockerfile"
      args:
        JDK_VERSION: ${JDK_VERSION}
        ADDRESS: ${OPENJDK_IP}
    image: openjdk_image
    restart: always
    container_name: openjdk
    privileged: true
    networks:
      composenetwork:
        ipv4_address: ${OPENJDK_IP}
    volumes:
      - ${DOCKER_DATA_PATH}/:/data
#      - ${DOCKER_DATA_PATH}/openjdk:/data
networks:
  composenetwork:
    name: ${NETWORK_NAME}
    driver: bridge
    ipam:
     config:
       - subnet: ${NETWORK_SUBNET}
         gateway: ${NETWORK_GETWAY}
