# tomcat service based on Alpine
# version 0.1
# This composer need an '.env' file to be composed 
#
# Default env : .env.tomcat
# To compose:
#   docker compose --env-file ".env.tomcat" -f docker-compose-tomcat.yaml up -d
#   docker compose --env-file ".env.tomcat" -f docker-compose-tomcat.yaml down --rmi local -v
#   docker compose --env-file ".env.tomcat" -f docker-compose-tomcat.yaml down --remove-orphans --rmi local -v
#
#   docker system prune -a
services:
  tomcat:
    build:
      context: "tomcat"
      dockerfile: "Dockerfile"
      args:
        ADDRESS: ${TOMCAT_IP}
        TOMCAT_PORT: ${TOMCAT_PORT}
        TOMCAT_MAJOR: ${TOMCAT_MAJOR}
        TOMCAT_VERSION: ${TOMCAT_VERSION}
        TOMCAT_HOME: ${TOMCAT_HOME}
        CATALINA_HOME: ${CATALINA_HOME}
        CATALINA_OUT: ${CATALINA_OUT}
    image: tomcat_image
    restart: always
    container_name: tomcat
    privileged: true
    networks:
      composenetwork:
        ipv4_address: ${TOMCAT_IP}
    volumes:
      - ${DOCKER_DATA_PATH}/:/data
networks:
  composenetwork:
    name: ${NETWORK_NAME}
    driver: bridge
    ipam:
     config:
       - subnet: ${NETWORK_SUBNET}
         gateway: ${NETWORK_GETWAY}
